:host(){
    --primary-color:#2c3e50; 
    --secondary-color:#3498db;
    --accent-color:#e74c3c; 
    --background-color:#000000;
    --font-size:16px;
    }
    
    .app{
        min-height: 100vh;
        background-image: url(/sfsites/c/resource/bmiImage);
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .box{
    max-width: 420px;
    text-align: center;
    margin: auto;
    background-color: var(--primary-color);
    color: white;
    padding: 40px 30px;
    border-radius: 30px;
    }
    
    h1{
    font-size: 36px;
    padding: 20px 0;
    font-weight: bold;
    }


    
    
    .info-wrapper{
    background-color: var(--background-color);
    padding: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: var(--font-size);
    text-align: center;
    }
    
    h2{
    font-size: 26px;
    color: var(--secondary-color);
    }
    
    label{
    font-size: 20px;
    color: var(--accent-color);
    }
    
    input{
    color:var(--primary-color);
    padding: 12px;
    font-size: var(--font-size);
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    margin-bottom: 10px;
    }
    
    button{
    font-size: var(--font-size);
    padding: 10px 16px;
    color: white;
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    border-radius: 5px;
    }
    
    .resultValue{
    color: var(--accent-color);
    font-size: 30px;
    }